body {  
   color: aliceblue
   
}
  
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}  

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

section {
    background-color: #1f2937;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
}

.main-div {
    max-width: 1000px;
}

img {
    width: 400px;
}

.main-content-div {

}

.two{
    background-color: rgb(241, 241, 241);
    color: rgb(5, 5, 39);
    width: 100vw; 
    height: 100vh; 
    text-align: center;
}

.img{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 12px;
}











 
  
   

  